@font-face {
    font-family: MorganPosterAvec Bold;
    font-weight: bold;
    src: local('MorganPosterAvec'), ("./assets/font/MorganPosterAvecBold.otf") format("opentype");
}

.contentContainer {
  background-color: #F6F6F6;
  height: 510px;
  width: 500px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  -ms-flex-direction: column;
  flex-direction: column;
      @media (max-width: 600px) {
    width: 325px;
  }

  h2 { 
    font-family: MorganPosterAvec;
    text-transform: uppercase;
    font-size: 2.15rem;
    color: #474747;
    text-align: center;
  }

  h3 {
    font-family: MorganPosterAvec;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #a0a0a0;
    text-align: center;
  }

  h4 {
    color: #a0a0a0;
    text-align: center;
    text-transform: uppercase;
    font-size: .4rem;
    letter-spacing: -.8px;
  }

  p {
    color: #a0a0a0;
    font-size: .85rem;
    letter-spacing: -.7px;
    text-align: center;
  }

  .progressLine {
  width: 55%;
  }

  .playerContainer {
    text-decoration: overline;
    width: 80%;
    justify-content: center;
    margin-right: 10px;
    margin-top: 20px;
  }

  .playerHeadshot {
    background-color: #f0f0f0;
    border: 2px solid #ffffff;
    border-radius: 90px;
    justify-content: center;
    width: 50px;
    margin-right: -6px;
  }

  .numberBackground {
    background-color: #ffffff;
    font-size: 16px;
    padding-top: 14px;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border: 2px solid lightgray;
    border-radius: 50%;
    padding-top: 0px;
    margin-top: 7px;

    p {
      font-family: MorganPosterAvec;
    }

    .points {
      font-size: 1rem;
      letter-spacing: .3px;
      color: black;
    }
  }

  .imgBacker {
    margin: 0 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
  }

  .statsContainer {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: -22px;
    margin-bottom: 20px;

    P {
      font-size: .5rem;
    }
  }

  .download {
    width: 100%;

    h4 {
      font-size: .8rem;
    }
  }

  .buttonContainer {
    width: 100%;
    justify-content: center;

    button {
      background-color: #ffffff;
      border: .5px solid black;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      padding: 6px 15px;

      h4 {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .notify {
      margin-right: 20px;
    }
  }

  .mobileContainer {
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
  }

  .iosIcon {
    margin-right: 20px;
  }

  .notifyButton {
    padding-right: 10px;
  }

  .depositButton {
    padding-right: 10px;
  }
}




